body{margin-top: 60px;}

h1, h2, p, div {
  &.loading{
    &:before {content: "\00a0";}
    background: #e8e8e8;
  }
  &.image {
    height: 300px;
    width: 100%;
    position: relative;;
    text-align: center;
    i {
      position: relative;
      top: calc(50% - 30px);
    }
  }
}
